# ----------------------------
# Node.js
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------
# React build & test
# ----------------------------
build/
coverage/

# ----------------------------
# Java / Spring Boot
# ----------------------------
*.class
target/

# ----------------------------
# IDEs e ferramentas
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Banco de dados local
# ----------------------------
*.db

# ----------------------------
# Ambientes
# ----------------------------
.env*
.DS_Store

# ----------------------------
# Outras ferramentas (ex: Yarn Plug'n'Play)
# ----------------------------
.pnp/
.pnp.js